@use "../../../styles/common/index" as *;
.label {
    height: 80px;
    @include flex($align-items: center);
    span {
        font-size: 36px;
        font-weight: 700;
        color: $primary-color;
    }
}