@use "../../styles/Common/index" as *;
.elementPagination {
  display: inline-block;
  height: 34px;
  margin-top: 10px;
  border: 1px solid $border-color;
  border-radius: 5px;
  .buttonPagination {
    @include buttonPagination();
    @include buttonPaginationSecond();
  }
  .selectedPage {
    color: white;
    background-color: #337AB7;
    @include buttonPagination()
  }
  .unSelectedPage {
    @include buttonPagination();
    @include buttonPaginationSecond($opacity: 1,$color: $pagination-color);
  }
  .buttonLast {
    color: $pagination-color;
    opacity: 1;
  }
}
