@use "../../../styles/Common/index" as *;
.Breadcrumbs {
  width: 100%;
  height: 50px;
  background-color: $secondary-color;
  color: $text-color-third;
  box-sizing: border-box;
  padding-left: 20px;
  @include flex($align-items: center);
  ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    display: inline;
    margin-right: 5px;
  }
  button {
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
    font-weight: 400;
    font-size: 15px;
    &:disabled {
      cursor: not-allowed;
      color: #333333;
    }
  }
}
