$primary-color: #333333;
$secondary-color: #ECEEEF;
$third-color: #777777;
$button-color: #5CB85C;

/* text-style*/
$text-color-primary: #363636;
$text-color-secondary: #FFFFFF;
$text-color-third: #337AB7;

/*border - color*/

/*breakpoints*/
$table-width: 768px;

