$primary-color: #333333;
$secondary-color: #ECEEEF;

$button-color: #D9534F;
$secondary-button-color:#5CB85C;

/* text-style*/
$text-color-primary: #363636;
$text-color-secondary: #FFFFFF;
$text-color-third: #337AB7;
$text-color-fourth: #777777;

/*other-color*/
$border-color: #DDDDDD;
$pagination-color: #0275D8;


/*breakpoints*/
$table-width: 768px;

